*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --blue: #274C77;
    --lightBlue: #A3CEF1;
    --grey:#E7ECEF;
  }

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    padding: 20px;
    background-color:var(--blue);
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:solid 1px var(--lightBlue);
    background-color: var(--lightBlue);
    border-radius: 20px;
    padding:20px;
    font-size: 2rem;
    width: 300px;
    max-width: 80%;
    color: var(--blue);
    gap: 10px;
}
.titleMenu{
    font-size: 3rem;
    font-weight: bold;
    padding: 5px;
}
.menuContents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menuButton{
    border: none;
    background-color: var(--blue);
    border-radius: 20px;
    margin-top: 10px;
    padding:10px;
    font-size: 2rem;
    width: 300px;
    max-width: 80%;
    color: var(--grey);
    gap: 10px;
    box-shadow: 2px 2px 2px 1px var(--blue);
}

.menuButton:hover{
    filter: brightness(85%);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.menuInput{
    border:none;
    font-size: 2rem;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    background-color: var(--grey);
    color: var(--blue);
}

.headerScore{
    display: flex;
    flex-direction: row;
    width: 600px;
    padding:30px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    text-align: center;
}

.headerScore >*{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--blue);
    font-weight: bold;
}

.playerTurnContainer{
    display: flex;
    flex-direction: column;
}

.board{
    display: grid;
    width: 600px;;
    height: 600px;
}

.grid,.ocuppiedGrid{
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 0;
}

.ocuppiedGrid{
    pointer-events: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1%;
    background: var(--blue);
    color: white;
    font-weight: bold;
    gap:10px;
}